body {
  background-color: black !important;
}
.centre-box {
  background-color: white !important;
  border-radius: 4px;
  padding: 20px;
  height: 540px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 100px;
}
.header-part {
  margin-bottom: 20px;
}
.logo {
  height: 100px;
  width: auto;
}
.my-btn {
  background-color: black;
  color: white;
  border: 0px;
  padding: 4px;
}
