.btn {
  color: #f8f9fa;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 2px;
}
.btn:hover {
  background-color: #f8f9fa;
  color: #343a40;
}

.dropdown-menu {
  border-radius: 2px;
  background: lightsalmon;
  border: none;
  width: 80px !important;
}

.dropdown-item {
  width: 10.156rem;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 2px;
  background: none;
  color: #343a40;
}
.dropdown-item:hover {
  text-decoration: underline;
  background-color: #f8f9fa;
  color: #343a40;
}
